[2017-01-22 17:57] jakubpawlowicz opened #1 "Option to remove imported files"
Opened by @mikkotikkanen in [clean-css repo](https://github.com/jakubpawlowicz/clean-css/issues/536) - moving it here as it'll be a CLI feature.

Note that API already exposes a list of imported files under `inlinedStylesheets` field in output hash.

---

If you are running master css file which is just split with imports, it would be nice to have r.js styled removing of the imported files

Ie. if

[2017-01-27 09:47] Cezille07 opened #2 "Allow * when specifying multiple input files"
When listing input files as

    cleancss public/css/* public/app.css

it gives the error:

    WARNING: Invalid character(s) '/*;@import public/app.css;' at 1:18. Ignoring.

Different variations of forward and backward slash, as well as removing the `*` (hoping it would peek into the folder), resulted in failure as well.

It would be handy if I didn't have to list each file separately, by allowin

[2017-01-29 10:32] jakubpawlowicz commented on #2
Yup, we could have it in CLI. 👍

[2017-01-31 18:36] tssajo opened #3 "clean-css-cli does not work on Windows properly"
If you are on the Windows platform and the CSS file you are trying to minify is on a different drive letter, e.g.: drive F: instead of the default drive C: and you attempt to run the `cleancss` command with an absolute path pointing to the input file (as well as an absolute path to the output file) then clean-css-cli is trying to import something from an invalid path, see:
![7d2991665c666f8d4940ed

[2017-01-31 19:43] tssajo commented on #3
In addition to the above: It also causes trouble if the PATH contains spaces. As you can see on the above screenshot, the original directory was "F:\Two Bad Mice\..."
So both the colon character after F is causing an invalid PATH but also the space after Two is making the path trimmed early in "C:\WINDOWS\system32/F:/Two"

IMO the current working directory cannot just be concatenated with the sour

[2017-02-01 16:03] jakubpawlowicz commented on #3
@tssajo thanks for giving it a try - I'll try it locally on Windows and get back to you.

[2017-02-02 19:34] jakubpawlowicz commented on #3
It's actually an API issue as well. Fix is coming!

[2017-02-04 06:49] jakubpawlowicz commented on #3
I've just released 4.0.4 fixing handling spaces in paths, see ^ issue in API. Could you reinstall clean-css-cli and give it another try? It works fine on Windows 10 and Node 7 for me.

[2017-02-04 09:07] tssajo commented on #3
@jakubpawlowicz I do not know why you closed this when it is definitely still broken! And I cannot even re-open... :( Please re-open this issue! Thanks!

The "spaces in path" issue was a 2nd issue, that one you fixed and that's great.

But the main issue was not with the spaces in path! The main issue occurs when you try to use `cleancss` on a file which is on a different driveletter than your cur

[2017-02-04 09:18] tssajo opened #4 "npm update -g clean-css-cli does not update the clean-css dependency to the latest version"
You fixed a bug in `clean-css 4.0.4` and suggested to try that.

I already had clean-css-cli installed globally, I previously used this command to install clean-css-cli:
`npm install -g clean-css-cli`
and it properly installed (at that time) `clean-css 4.0.2` as clean-css-cli's own dependency.

Now that you released `clean-css 4.0.4`, I tried to update `clean-css-cli` like this:

`npm update -g cl

[2017-02-06 12:45] jakubpawlowicz commented on #3
@tssajo I closed it because I tested the new version locally and it worked fine, see my local output on Node 7 and Win 10.

<img width="1046" alt="screen shot 2017-02-06 at 07 28 44" src="https://cloud.githubusercontent.com/assets/24273/22647540/666a2e00-ec72-11e6-9077-5720ca419212.png">

If it's not fixed we can reopen this issue, however, I don't see it happening anymore.

[2017-02-06 12:47] jakubpawlowicz commented on #3
Oh, scratch that. I can see it still happens when rebasing is used via `--output` flag.

[2017-02-06 15:31] tssajo commented on #3
@jakubpawlowicz Thanks for your answer!

So it was the output ( `-o` ) flag then. Good to know!

I'll try your updated version of `clean-css` tomorrow. Thanks, again!

[2017-02-07 11:10] jakubpawlowicz commented on #4
Sorry @tssajo that it didn't work out of the box but having CLI as a separate package is new to me - following some investigation ^ I decided to bump CLI when API is.

[2017-02-07 11:21] tssajo commented on #4
@jakubpawlowicz Thanks!

This is perfect: `I decided to bump CLI when API is`

[2017-02-07 11:21] #4 closed

[2017-02-07 11:22] jakubpawlowicz commented on #4
👍 I'm publishing all missing CLI releases as we speak.

[2017-02-07 11:41] jakubpawlowicz commented on #3
So this should be fixed in 4.0.5. Works fine locally with `-o` option.

[2017-02-07 11:41] #3 closed

[2017-02-07 11:42] jakubpawlowicz commented on #4
Everything up to 4.0.5 is out.

[2017-02-07 11:46] tssajo commented on #4
`npm update -g clean-css-cli` worked perfectly this time. Thanks, again!

[2017-02-07 11:46] tssajo commented on #3
I can confirm that the issue has been fixed with version 4.0.5

Thank you!

[2017-02-07 11:52] jakubpawlowicz commented on #3
That's great 👍

[2017-02-07 11:53] phiw13 commented on #4
@jakubpawlowicz
Updating is now smooth and easy. Thank you.

[2017-02-07 12:33] jakubpawlowicz commented on #4
👍

[2017-03-23 12:46] jakubpawlowicz opened #5 "Option to set non-boolean compatibility flags"
See https://github.com/jakubpawlowicz/clean-css/issues/916#issuecomment-288690385

[2017-04-14 18:40] hyperknot opened #6 "--skip-rebase should be the default"
I want to provide a small, but important feedback, as it bit me really hard and I believe it'll bite many other users.

First and foremost, I am using clean-css and now the new clean-css-cli for CSS minification. This is the reference tool for this job, and congratulation for making this huge achievement!

However, the default URL rebasing is an extremely bug prone feature. Running the tool with o

[2017-04-18 14:34] jakubpawlowicz commented on #6
Interesting idea. Given 4.0 switched to safer `-O1` optimization level it may be a good idea for rebasing to follow.

May I know whether you entirely disabled rebasing and if so how do you handle it when bundling assets?

[2017-04-18 14:36] hyperknot commented on #6
I am using a custom build script where clean-css-cli is just an optimal minimization step.
For including external stylesheets, I'm also using sass imports via node-sass.

[2017-04-19 18:52] jakubpawlowicz commented on #6
Got it - since it'd be a breaking change it needs to wait until the next major release.

[2017-04-19 23:36] hyperknot commented on #6
Sure, no problem, I've finally found the right switch and if people run
into the same problem they might find this issue by Google.

On 19 April 2017 at 20:52, Jakub Pawlowicz <notifications@github.com> wrote:

[2017-04-21 17:37] jakubpawlowicz opened #7 "Export CLI as a module"
So `bin/cleancss` looks something like:

[code]

One could reuse the CLI to do some custom magic:

[code]

[2017-05-08 12:06] #7 closed

[2017-05-08 12:46] #2 closed

[2017-05-08 13:34] #1 closed

[2017-05-08 16:16] #5 closed

[2017-05-08 16:46] jakubpawlowicz commented on #2
@Cezille07 you can do it now in clean-css 4.1, thanks for the idea!

[2017-05-10 09:09] Cezille07 commented on #2
Awesome, thanks! :D

[2017-05-17 18:50] matt3224 opened #8 "Unable to get same output as refresh-sf"
Hey,

I'm struggling to get clean-css to give me merged rules and overwritten properties.

I have a test case here https://github.com/matt3224/remove-dupe-props-test

I am expecting the following output:
[code]

Any help much appreciated

[2017-05-30 10:56] andreasvirkus opened #9 "How to remove the injected sourceMappingURL?"
Sorry, but I couldn't find an option to remove the inlined sourceMappingURL.

Currently it's longer than my actual CSS content and creates unnecessary bloat to the file (more than doubling the size: 9kB -> 23kB).

edit: an example of the file
https://gist.github.com/andreasvirkus/15c7c2c3afcd6f69579890daeca2fe01

[2017-06-01 17:37] ESPNMichaelKidd commented on #9
the inlined sourcemap seems to occur when using stdout, and not when specifying an output file

[2017-06-01 18:11] ESPNMichaelKidd commented on #9
@andreasvirkus any chance your passing the output to postcss and not using the `--no-map` option?  That's what eventually fixed this for me

[2017-06-01 19:41] jakubpawlowicz commented on #9
@andreasvirkus @ESPNMichaelKidd there are `--source-map` and `--source-map-inline-sources` options in CLI but both are disabled unless given.

[2017-06-02 07:01] andreasvirkus commented on #9
@ESPNMichaelKidd Hmm...  I am passing the output to postcss for autoprefixes. I'll try the `--no-map` out tonight, thanks for the idea!

[2017-06-02 15:56] andreasvirkus commented on #9
Yup. Running PostCSS with `--no-map` helped. Sorry for troubling. I didn't think to consider `postcss` as the culprit here.

[2017-06-02 15:56] #9 closed

[2017-06-03 20:00] jakubpawlowicz commented on #9
It's weird you opened this issue in clean-css repo (not related to PostCSS) but glad you solved the problem! 👍

[2017-06-07 10:35] jakubpawlowicz commented on #8
Since you commented in https://github.com/jakubpawlowicz/clean-css/issues/713#issuecomment-302381204 and the issue belongs to clean-css project I'm going to close this issue here.

[2017-06-07 10:35] #8 closed

[2017-06-07 10:38] jakubpawlowicz opened #10 "Backport source map fix"
Forwardport (is that a word?) as it's a fix to 3.4.

https://github.com/jakubpawlowicz/clean-css/issues/948

[2017-06-09 11:39] #10 closed

[2017-06-29 12:47] abhirakshit opened #11 "Breaking on remote @imports"
Hello,

I am trying to use cleancss as follows
`cleancss --inline all -o css/import.min.css css/import.css`

But I get the following error
[code]

I have the following remote imports

[code]

I have tried to increase the timeout but get the same error. When I do "--inline local" it works fine though the remote imports are not fetched as expected.

Thanks

[2017-07-12 11:24] hyperknot opened #12 "Breaks shell command because of ; character"
How is the official example of

[code]

supposed to work? To all of my knowledge this is interpreted as two separate commands by bash. Of course neither `cleancss -O1 all:off` nor `tidySelectors:on one.css` is a valid command, so it returns a help for the first one and `-bash: tidySelectors:on: command not found` for the second one.

[2017-07-13 07:06] jakubpawlowicz commented on #12
I think docs are wrong as it should be `cleancss -O1 "all:off;tidySelectors:on" one.css` - could you give this one a try?

[2017-07-18 05:47] igauravsehrawat opened #13 "cleancss, command not found if global isn't used while installing clean-css-cli"
Hi,
Awesome tool.

`cleancss` isn't available on command line unless I install it globally. Pasting output for problem.
[code]

In the documentation it's mentioned to install it locally using ` npm install clean-css-cli`. Is it intended behavior?

I am using macOS, Sierra v10.12.4.

Thanks

[2017-07-18 05:59] igauravsehrawat commented on #13
`uglifyjs` works good though, no need for global install option.

[2017-07-18 08:40] jakubpawlowicz commented on #13
Hmmm, I installed uglifyjs with `npm i uglify-js` and `bash` can't pick it up either. How does it work in `zsh`? What does `which uglifyjs` yield for you?

[2017-07-18 09:03] igauravsehrawat commented on #13
@jakubpawlowicz

Thanks for replying.

Extremely sorry for providing wrong info, you are right `uglifyjs` also doesn't work. I had two node version installed and that created confusion.

So the documentation has to be fixed, right? Submit a PR?

Thanks

[2017-07-18 09:33] jakubpawlowicz commented on #13
Yes, we need to make it clear only the global install puts cleancss in the global $PATH. PRs are always welcome!

[2017-10-27 22:37] plantain-00 opened #15 "Any plan to support --watch?"

[2017-10-31 10:22] jakubpawlowicz commented on #15
What are the other options here as I'm not familiar with the matter. Anyway PRs are always welcome.

[2017-12-27 00:25] ilog2000 commented on #15
@plantain-00 means that CLI packages can be run with --watch option to track changes in uncompressed file and re-execute minification. A good example is 'myth' package (it is broken now with node v6+). Current work around for me is 'onchange' package. You can look inside their code.

[2018-01-16 10:05] adampoczatek opened #16 "Is it possible to output to the same file?"
Hey,

I've read the doc but I can't find the answer.

Basically, I have a folder of CSS files (including subdirectories) and I'm trying to minify all files but keep the structure the same. Is that possible?

Cheers,
Adam

[2018-01-16 16:24] jakubpawlowicz commented on #15
I'd be interested in adding it to CLI as it's a rather common feature.

[2018-01-16 16:32] adampoczatek commented on #16
Fair enough, thanks for the info 👍

[2018-01-16 16:32] #16 closed

[2018-01-26 12:03] dnovacik commented on #15
+1

[2018-02-19 11:01] ZdejPoham opened #17 "TypeError: rules.split is not a function"
$ uname -a
Linux ZdejPoham 4.13.0-32-generic #35-Ubuntu SMP Thu Jan 25 09:13:46 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

$ nodejs -v
v9.5.0

$ cleancss -v
4.1.10

$ sudo npm install -g clean-css
+ clean-css@4.1.9
updated 1 package in 0.507s

$ cleancss -O2 --inline --compatibility 'ie7' -o frontpage.min.css frontpage.css
/usr/lib/node_modules/clean-css-cli/node_modules/clean-css/lib/options/inline

[2018-02-26 12:06] pavelloz opened #18 "Compress all files in the directory"
I have a case where i would just like to apply `cleancss` to every file in the directory, without name changing etc.

Ideally this would work:

`cleancss path/to/css/*.min.css`

I know i can dance around i with xargs and thats what I'm going to do ATM, but i suppose it can be a pretty common use case so i decided to create an issue to hear what you think about it.

Thanks for the great tool :)

[2018-03-02 01:11] hyperknot commented on #12
Yes, with quotation marks it works well.

[2018-03-02 14:43] #12 closed

[2018-03-02 14:43] jakubpawlowicz commented on #12
It's fixed then.

[2018-03-02 14:59] jakubpawlowicz commented on #18
Thanks @pavelloz for an idea - I think it could either work by replacing files inline or by placing optimized output in a `.min` file, e.g.

`cleancss --in-place path/to/css/(one|two).css` would create two new files: `path/to/css/one.min.css` and `path/to/css/two.min.css`. Ideally it should respect existing `.min` files by overwriting them.

What do you think?

[2018-03-02 15:02] #17 closed

[2018-03-02 16:09] jakubpawlowicz commented on #11
Sorry @abhirakshit for a really late reply, but this issue went under my radar. I've just retested it with the latest clean-css-cli and it works as expected. Could you provide me with more details (sample file) if still relevant or close this issue otherwise?

[2018-03-02 22:18] pavelloz commented on #18
Well, replacing in-place would be even better, but listing all the files in arguments is still much harder than passing `*` or even straight up a directory name, which could be recursively traversed and .css files selected.

Having regexp-like syntax would force me to still go around and gather all the filenames without extension and build the string to be able to match all of them, so i would end

[2018-03-05 09:50] jakubpawlowicz commented on #18
Thanks for detailed comment @pavelloz - I see your point here.

First using files explicitly in my example was only to illustrate the idea - clean-css-cli supports glob matching since e877d277b312e45136373eb950550b7f8398237d. This may also save us from explicit `-r` option as one can say `clean-css --in-place dist/css/*.css` vs `clean-css --in-place dist/css/**/*.css` for flat vs recursive way.

I

[2018-03-05 10:15] pavelloz commented on #18
Ouh, thats great, I didn't catch the glob change before :)

I hope it isn't just my weird use case and a lot of other users will also benefit from it while composing their assets processing.

Thank you :)

[2018-03-12 13:31] mtsk commented on #18
I had a similar problem and found this issue, so +1 from me.

As a quick workaround I just installed [foreach-cli package](https://www.npmjs.com/package/foreach-cli) so I can do this:

[code]

I'm on Windows so I had to use the `--no-c` param, otherwise I'd get an error.

[2018-03-16 07:22] francoismassart opened #19 "Can we clean multiples files using globs ?"
If I have css files than I would like to clean like so:

[code]

Can I use `clean-css-cli` like:

[code]

I do not want to list all my css in the command line or neither to edit the command line every time I add a new css file.

What I am aiming for is this result:

[code]

I could also accept having the source css file overwritten...

Thank you for your help.

[2018-03-16 08:05] francoismassart commented on #19
I was able to do it thanks to a comment inside the issue #18 :

https://github.com/jakubpawlowicz/clean-css-cli/issues/18#issuecomment-372310146

This npm script will replace the files...
[code]

[2018-03-16 08:05] #19 closed

[2018-03-22 11:12] basbebe opened #20 "feature request: configuration file"
I would love to be able to include an external configuration file.
Minifiers like `uglifyjs` to `html-minifier` allow to use `-c ./filename` to include separate configurations (which could then be shared with other utilities in different development stages.
Users then could store their configs in e.g. a `.cleancssrc` file.

[2018-07-17 01:50] morais099 commented on #3
Olá @jakubpawlowicz , I'm having problems with clean-css-li 4.1.11, use Windows 10 64 bits and my files .css not be minified. You said that the problem was fixed in version 4.0.5, but it continues. The error that occurs is the same one mentioned by tssajo. You can you help me?

[2018-08-02 07:11] kgriffs opened #22 "Update clean-css version to latest"
Hi, I just noticed that `clean-css` is set to version `4.1.9` in the dependencies. Is there any way we could get a new CLI release with that dep version bumped up?

[2018-08-02 07:20] jhabdas opened #23 "Rebases relative images URLs unexpectedly"
Docs [state](https://github.com/jakubpawlowicz/clean-css-cli#how-to-rebase-relative-image-urls) relative urls are handled automatically “when full paths to input files are passed in and `--output` option is used”. However, when the `-o|--output` flag is omitted relative image paths are still updated.

Is this an error in the CLI or a typo in the documentation?

Given users not using `-o` are likel

[2018-08-02 08:43] jhabdas commented on #23
Not able to reproduce. Must have been a caching issue on my end. Thanks for this wonderful too.

[2018-08-02 08:43] #23 closed

[2018-08-08 03:11] benmackerras opened #24 "Cannot install in docker container"
I have a simple Dockerfile:
 FROM node:latest
 RUN npm install -g handlebars uglify-es less clean-css-cli

When i build the image everything seems to run fine:

Step 2/2 : RUN npm install -g handlebars uglify-es less clean-css-cli
 ---> Running in 21f8aba5497b
/usr/local/bin/cleancss -> /usr/local/lib/node_modules/clean-css-cli/bin/cleancss
/usr/local/bin/handlebars -> /usr/local/lib/node_modules/

[2018-08-08 10:56] jakubpawlowicz commented on #24
Hmmm, I had a local docker image running just fine, so it should work fine.

Is there even a `/usr/local/lib/node_modules/clean-css-cli` in there?

[2018-08-08 12:35] benmackerras commented on #24
No, the clean-css-cli folder is missing completely

[2018-08-09 08:16] jakubpawlowicz commented on #24
What's then the content of your `/usr/local/lib/node_modules`? What if you ran the container and executed `npm install -g clean-css-cli` manually?

I see no reason why it may not work.

[2018-08-10 01:02] benmackerras commented on #24
Contents of /usr/local/lib/node_modules is handlebars npm uglify-es less
Running `npm install -g clean-css-cli` manually inside the container installs fine

[2018-08-13 07:07] jakubpawlowicz commented on #24
That's odd. What if you put `npm install -g clean-css-cli` as a separate entry in your Dockerfile?

[2018-08-21 07:34] ashucg opened #25 "feature request: source map rebase"
It would be great to have an option similar to uglifyjs, which allows rebasing source map source URLs/paths. Right now source map has sources path relative to my working directory - where I am using CLI and there is no way to change it.

[2018-09-14 05:32] XhmikosR opened #26 "Respect `breaksWith` option"
@jakubpawlowicz: I make this to track the line endings issue which is noticeable on Windows.

https://github.com/jakubpawlowicz/clean-css-cli/blob/master/index.js#L249

The above line doesn't take into account the `breaksWith` option.

[2018-09-14 05:33] XhmikosR commented on #26
Refs https://github.com/jakubpawlowicz/clean-css/issues/964

[2018-09-18 17:50] mistic100 opened #27 "Provide inputSourceMap"
There does not seem to be a way to provide an input sourcemap when using the CLI.
Please add a `--input-source-map` option or allow `--source-map` to accepts a path to an existing map.

[2018-09-26 14:59] rbaras commented on #25
+1

[2018-09-26 14:59] rbaras commented on #27
+1

[2018-11-27 21:22] davidflanagan opened #28 "Bad interaction between mergeIntoShorthands and removeDuplicateRules"
I've got cleancss 4.2.1 running on Node 10.13.0 on MacOS

Here's my input:

[code]

If I run `cleancss -O2` on that file I get this output: `body{border:1px solid red}`

Even though the second border-color specification should override the first, it is the first that gets merged into the shorthand border property, and the output is not equivalent to the input.

[2018-12-13 19:51] IAMtheIAM opened #30 "How do we preserve ALL comments?"
I tried changing specialComments to `0`, `1`, and `all` and it had no effect. It kept the special comments.

How do we tell it to keep all comments?

[2018-12-13 19:52] IAMtheIAM opened #31 "skipProperties - what is the proper usage?"
Hi, `skipProperties` says it takes a list but there is no example and I couldn't find this anywhere in the cli code. How do we use this option on the CLI? Thanks!

[2019-03-29 09:54] ionutvmi commented on #27
@jakubpawlowicz do you accept PRs for this feature ?

[2019-03-29 14:01] jakubpawlowicz commented on #27
@ionutvmi sure, go for it!

[2019-04-06 09:25] jakubpawlowicz commented on #27
Fixed in #32.

[2019-04-06 09:25] #27 closed

[2019-04-06 11:55] XhmikosR commented on #26
@jakubpawlowicz: this is the offending line https://github.com/jakubpawlowicz/clean-css-cli/blob/master/index.js#L263

I tried checking for `options.format.breakWith` but that didn't work.

[code]

[2019-04-10 20:41] rdotg opened #35 "Not minifying when @import file has timestamp"
When there is a query param on a css file (_in this case a timestamp_), clean-css-cli will not minify the current file. As soon as I remove the query param, it minifies the file. My goal is to ignore the @import statement but still minify the file.

I tried passing every conceivable option to prevent the clean css from processing this line:

[code]

But it throws the error:

[code]

[2019-08-02 18:24] eddieaich opened #36 "Fails to write output to file if containing directory does not yet exist"
If I try to output to a file in a target directory but that directory does not yet exist, the system throws an error. This does not happen if I use grunt-contrib-cssmin - it creates the missing directory structure for me, but I no longer want to use grunt. Here is the stack trace on a Windows 10 OS:

`Error: ENOENT: no such file or directory, open 'C:\Users\Human\Documents\GitHub\crucial\public\di

[2019-08-03 16:28] PatricNox commented on #18
Well, I get that your input can be globed.

`   "cleancss": "cleancss -o  public/merged.css public/assets/**/styles/*.css",`

The neat npm script i'd like to have is something such as:

`   "cleancss": "cleancss -o  public/assets/**/styles/*.css public/assets/**/styles/*.css",`

so every corresponding file gets minified and don't need to be merged into a combined one. I know this is doable using g

[2019-10-17 00:16] nolanwrightdev commented on #30
I found the README misleading on this point. I got it working with `cleancss -O1 'all:on;specialComments:0' [...]`. So the optimization flags are not mutually exclusive. Even if you want level 2 optimizations, you need to set `specialComments` with the `-O1` option.

[2019-12-03 11:42] l2aelba commented on #30
Yes how to do that?

[2019-12-03 11:54] l2aelba opened #38 "Add a note in README about O1 not 01"
Add a big note (or bold / danger) about using optimizations

About it **O** not 0 (not zero)

[2019-12-03 18:27] jakubpawlowicz commented on #38
Good point @l2aelba, can you perhaps send a PR?

[2020-01-24 17:23] hirschferkel opened #40 "Clean CSS stopped working with Sublime Formatter"
There is some console output and it stopped working completely with Formatter in Sublime 3 on OS X.
Sublime Linter states e.g.:
`index.css:
  No lint results.`

`SublimeLinter: WARNING: csslint: Implicit appending a filename to `cmd` has been deprecated, add '${temp_file}' explicitly.`

[2020-01-24 17:59] hirschferkel commented on #40
It's working again after I reinstalled python...

[2020-01-24 17:59] #40 closed

[2020-04-20 19:39] iJKTen opened #41 "Cannot read property '1' of undefined"
I did an npm install clean-css-cli

In my webpack.config.js file imported the module
const CleanCSS = require('clean-css-cli');

Using webpack-merge-and-include-globally to merge multiple CSS files and my config looks like

[code]

On npx webpack I get an error that says
TypeError: Cannot read property '1' of undefined
    at Command.parse (/Users/jaikirdatt/development/blog/webpack-test/node_modu

[2020-04-27 14:41] #38 closed

[2020-07-18 09:38] mh-cbon opened #44 "processing absolute path import"
hey,

i have a bunch of css such as

[code]
Css files using an absolute path (/assets...) are handled within the router using a virutal urls, their real path is located at, starting from the makefile working dir, `backend/public/../../../ui/public`

I try to build my file using

[code]
I end up with,

[code]

Is there some switches i can enable right now to pass that issue ? Maybe the cli can bene

[2020-12-17 05:10] Daeamon commented on #15
+1

[2021-01-09 04:26] onetrev commented on #18
Just to make sure, this issue is not about compress all the files in the directory into a single output file, but rather each `.css` file in a directory (or multiple directories) into their own compressed files?

I would say @pavelloz you are definitely not alone in needing this workflow. For anyone working in WordPress (lots of people) and creating their own custom blocks with ACF, this is exactl

[2021-01-14 14:37] jakubpawlowicz commented on #18
Looks like this is a requested feature, let me have a look how to do it.

clean-css will be bumped to version 5.0 next week, so maybe it's a good time to include this feature in clean-css-cli v5 release.

[2021-01-29 12:58] jakubpawlowicz commented on #18
Since clean-css v5.0.0 is out and there's a new `batch` option there https://github.com/jakubpawlowicz/clean-css/commit/d8380fe6d1536ca46e898347dc46308cb64aeb7d, I'll take on this feature next week.

[2021-02-03 13:25] jakubpawlowicz commented on #30
@l2aelba - I've updated docs to make it clear what character needs to prefix optimizations level.

[2021-02-03 13:25] #30 closed

[2021-02-04 17:13] jakubpawlowicz commented on #6
And rebasing will be off by default in clean-css-cli v5 due soon.

[2021-02-04 17:13] #6 closed

[2021-02-04 17:14] jakubpawlowicz commented on #28
This is fixed in clean-css v5 now, and will be in clean-css-cli v5 as soon as I release it.

[2021-02-04 17:14] #28 closed

[2021-02-05 12:03] #18 closed

[2021-02-05 12:07] jakubpawlowicz commented on #18
Please check the main branch for the feature - there are two new options `--batch` and `--batch-suffix`.

The `--batch` option turns on batch processing, so you can run clean-css-cli like this:
[code]

and all styles under that path will get optimized one by one.

The `--batch-suffix` option specifies what gets added to input filename (without extension) in batch mode, e.g.

[code]

will optimize

[2021-02-05 12:08] jakubpawlowicz commented on #18
@PatricNox @onetrev I'd love your feedback on this.

[2021-02-05 12:12] jakubpawlowicz commented on #31
The way is:

[code]

All properties come as comma separated list.

[2021-02-05 12:12] #31 closed

[2021-02-05 12:16] jakubpawlowicz commented on #22
I am aware I failed to update `clean-css-cli` at couple times when `clean-css` version was bumped - I think it was with the latter 4.1.10, 4.1.11, and 4.2.3 versions. Sorry about that! I do my best to follow them closely in 5.x or do you think there's still a need to release those pinned old versions?

[2021-02-05 12:16] #22 closed

[2021-02-05 12:17] jakubpawlowicz commented on #24
Please reopen if needed.

[2021-02-05 12:17] #24 closed

[2021-02-05 12:35] #36 closed

[2021-02-05 12:36] jakubpawlowicz commented on #36
It's fixed in main branch and due in v5.0.0 soon.

[2021-02-05 12:41] jakubpawlowicz commented on #41
I think what you really want here is to require `clean-css` not `clean-css-cli` in line 3, i.e.

[code]

I see no reason why would you want to minify your code through CLI when it can be ran via standard module interface, but please reopen this issue if I'm wrong.

[2021-02-05 12:41] #41 closed

[2021-02-05 12:47] jakubpawlowicz commented on #44
First of all it should not be an error but a warning instead, but that's on `clean-css` module side so I need to fix it there first.

Regarding dealing with those paths, I have mixed feelings about dealing with absolute paths in general. I used to do some magic to support them in 3.x, then I removed it in 4.x as they proved to be to complex to resolve when it comes to dealing with absolute imports

[2021-02-06 01:36] onetrev commented on #18
Hey @jakubpawlowicz thanks so much for doing this! I have some feedback, actually I'm having some issues. This is what I'm finding...

1) If I don't put `--batch-suffix` then I get an error: `error: unknown option `--batch'`. Not a biggie as I want to change it to `.min` anyway.

2) With batch-suffix option in place it works, but only if I output to screen (no -o command). I'm using this:

cleancs

[2021-02-06 12:06] jakubpawlowicz commented on #18
Hey @onetrev - thanks for testing! Just to make sure we are on the same page:

1) You checked out latest main branch and ran those code snippets against them, right?

2) What system did you run them on?

3) Please send those JS errors when `-o` is used.

Do you think `--batch-suffix` should default to `-min` or sth else?

[2021-02-06 20:40] onetrev commented on #18
No worries, happy to help! And yes good call to double check these details.

1) I'm using clean-css-cli@4.3.0 as a global package.

2) I'm on Windows 10, but using WSL2 using a Ubuntu distro. So in reality I'm running Ubuntu 20.04.1 LTS

3) Error output below...

[code]

Personally I think I see minimized files as `.min` more often than `-min`, so I would say .min should be the default, but not a

[2021-02-07 19:58] PatricNox commented on #18
Hej @jakubpawlowicz, this is exactly what I was looking for and now is the "core way" replacement of my previous script:

to

[2021-02-08 11:36] jakubpawlowicz commented on #18
Glad it works for you, @PatricNox!

@onetrev I think you need to clone this repo in order to test it before 5.0 release, here's how to do it: https://github.com/jakubpawlowicz/clean-css-cli#how-to-get-started

Once you have it locally and after `npm install` just replace `cleancss` in command you issue with `path/to/checked/out/repo/bin/cleancss` and you should be in the right place to start testi

[2021-02-09 02:23] onetrev commented on #18
Awesome, works perfectly. Very exciting this addition does exactly what I need. I'm sure it will help many others too. A bit embarrassing I didn't realise v5 wasn't released yet. I was just so excited to try it out I guess. And I saw the v5.0 details in the docs of the repo so made the assumption. Totally my bad.

[2021-02-09 16:30] jakubpawlowicz commented on #18
@onetrev Awesome, thanks for giving it a try. I've realised the description in Readme is a bit misleading as v5 is not released yet, so I should phrase v5 changes section a bit differently. Sorry, my bad!

Expect v5 to land on npm tomorrow.

[2021-02-10 12:34] jakubpawlowicz commented on #18
Thanks a lot for testing and your patience on this! v5 is on npm now. :tada:

[2021-02-10 12:35] jakubpawlowicz commented on #19
Please note it can be now done via `--batch` option in clean-css-cli v5: see https://github.com/jakubpawlowicz/clean-css-cli#how-to-process-multiple-files-without-concatenating-them-into-one-output-file

[2021-02-10 14:14] XhmikosR opened #51 "Batch mode exclude files"
@jakubpawlowicz I'm experimenting with the `--batch` option which seems exactly what we need on Bootstrap.

The problem I have is that I'm not sure how to exclude files. Currently we have all of our CSS files in one dir:

[code]

I tried excluding the files that end with `*.min.css` but it doesn't work:

[code]

Am I maybe missing something?

Thanks!

[2021-02-10 14:52] jakubpawlowicz opened #52 "Add a Windows test environment"
Via AppVeyor as in [clean-css](https://github.com/jakubpawlowicz/clean-css/blob/master/appveyor.yml)?

[2021-02-10 15:32] jakubpawlowicz commented on #51
Hey @XhmikosR - I thought it's possible but really haven't tested for it until you asked. Looks like a small change will be needed as `glob` expects excluding pattern to be passed via `ignore` option. Let me add it tomorrow.

[2021-02-10 17:51] eneko89 opened #54 "New v5.0.0 version is always rebasing urls"
Urls are getting rebased always, even when `--with-rebase` option is not used.

Both of these rebase urls and produce the same results:
[code]

In the source css, I have font and img references like these:
[code]

And with v5.0.0, I get these urls in the minified file, both with and without `--with-rebase`:
[code]

With previous v4.3.0, I used `--skip-rebase` and was getting:
[code]

I'm running m

[2021-02-10 17:53] jakubpawlowicz commented on #54
Hey @eneko89 - can you please provide more details, as described in https://github.com/jakubpawlowicz/clean-css-cli/blob/master/CONTRIBUTING.md ? Thanks!

[2021-02-10 17:54] eneko89 commented on #54
Sure, I'll edit.

[2021-02-10 18:13] eneko89 commented on #54
Done @jakubpawlowicz.

Btw, thanks for your quick response and sorry for the inconvenience 🙂

[2021-02-10 18:15] jakubpawlowicz commented on #54
No problem @eneko89 Let me have a look at it!

[2021-02-11 06:28] XhmikosR commented on #51
Thanks @jakubpawlowicz. BTW the failure didn't result in an error code 1 so the build (wrongfully?) continues on linux. On my Windows VM, the build does fail with 1.

[2021-02-11 06:29] XhmikosR commented on #51
This is from Linux https://github.com/twbs/bootstrap/runs/1871881620#step:6:47

[2021-02-11 06:53] jakubpawlowicz commented on #51
Since CLI returns just a warning then the build continues on Linux just fine. It's interesting the build does return error code 1 on Windows though.

[2021-02-11 07:10] #54 closed

[2021-02-11 07:12] jakubpawlowicz commented on #54
It's fixed in 5.0.1 on npm. Cheers!

[2021-02-11 11:20] jakubpawlowicz commented on #51
Re fix to this issue - please see the commit above. Can you possibly test it locally?

[2021-02-11 14:29] eneko89 commented on #54
I can vouch for that. Thanks! 🍻

[2021-02-11 14:38] XhmikosR opened #57 "5.0.1 warnings"
Hey, @jakubpawlowicz. I haven't had a chance to test #51 yet, but decided to give 5.0.1 a go with our current main branch. I keep getting this on Windows:

[code]

It seems something is wrong with paths on Windows because the referenced map filepaths are wrong. `dist/css` is missing.

[2021-02-11 14:42] XhmikosR commented on #52
Nope, GitHub Actions is fine :)

[2021-02-11 14:45] XhmikosR commented on #51
@jakubpawlowicz confirmed it works now, thanks!

[2021-02-11 16:39] XhmikosR opened #60 "Switch to async fs methods"
Since Node.js is single-threaded, switching to async fs methods should make everything as fast as possible. The only exception AFAICT is `fs.existsSync`. While at it, it would definitely be worth switching to `glob` (async).

[2021-02-11 16:59] XhmikosR commented on #57
This could be coming from clean-css itself and not clean-css-cli.

[2021-02-12 08:40] #51 closed

[2021-02-12 13:07] XhmikosR commented on #57
@jakubpawlowicz yeah, this belongs to clean-css, please move it to that repo :)

After further digging into it, the warning comes from https://github.com/jakubpawlowicz/clean-css/blob/62976556f6f92331e2e047e633821760d713fe01/lib/reader/apply-source-maps.js#L164-L178

It seems that in v5, the current working dir isn't taken into account or something like that.

[2021-02-12 13:14] XhmikosR commented on #57
...and it seems that if I pass `--with-rebase` then the warnings are gone.

So, perhaps this is by design after all. That being said, there's still an issue with Windows separators being used in sourcemaps on Windows. I'd swear there was an issue about it, but maybe it's in clean-css.

[2021-02-13 14:02] XhmikosR commented on #57
So, @jakubpawlowicz is it normal that `--with-rebase` is needed now? If so, the issue can be closed, it's just that I'm not 100% sure it's normal myself.

We build our sass and then use clean-css-cli to minify the CSS. The problem seems to happen when clean-css tries to load the existent sourcemaps.

[2021-02-15 14:10] danny007in opened #61 "source map not building in --batch"
Actually without --output

[2021-02-15 14:11] danny007in commented on #61
[code]

[2021-02-15 14:43] danny007in commented on #61
but with `--output --batch`
`--with-rebase` not working
💯 that's the conflict

[2021-02-16 05:17] phiw13 opened #62 "incorrect removal of % unit in linear-gradient()"
given: `cleancss -d -O2 --format 'breaks:afterComment=on' -o style.min.css style.css`

source:

[code]

result:

[code]

expected:

[code]

The `hsla` color notation **requires** the `%` unit for the second `0`.

cleancss 5.1 (and 5.0.1 before)
npm 7.5.4
node 14.15.4
macOS 11.2.1

cleancss-cli 4.3 handled it correctly

[2021-02-16 10:05] jakubpawlowicz commented on #62
Hey @phiw13 - I'll check thoroughly tomorrow but please use `replaceZeroUnits: false` for the time being: https://github.com/jakubpawlowicz/clean-css#level-1-optimizations

Sorry for incovenience!

[2021-02-16 10:06] jakubpawlowicz commented on #61
Thanks for reporting @danny007in - I'll have a closer look tomorrow.

[2021-02-16 10:08] phiw13 commented on #62
OK, will try that later.

The funny-not-so-funny thing is: only `linear-gradient()` seems affected.

[2021-02-16 21:21] BenediktBergmann commented on #18
@jakubpawlowicz is there a way of omitting the prefix?

I would like to have the same filename after clean-css was run. So when I have a demo.css file it should be still demo.css after minifying. At the moment it adds "-min" when I don't have the "--batch-suffix" parameter and I can't find a way of telling it to not add a suffix at all.

[2021-02-18 14:32] jakubpawlowicz commented on #62
It's fixed in clean-css 5.2.0 out now on npm.

[2021-02-18 14:32] #62 closed

[2021-02-19 11:25] phiw13 commented on #62
clean-css 5.2.0 fixes this issue, thank you.

BTW, `replaceZeroUnits: false` did absolutely nothing.

[2021-02-19 11:27] jakubpawlowicz commented on #62
:+1:

Sorry about the suggestion then, I didn't test it at the time.

[2021-02-26 19:58] jakubpawlowicz commented on #18
Sorry @BenediktBergmann I missed your comment. Please use `--batch-suffix ''` to write output under same file name as input. Shall we change the docs to list such use case?

[2021-03-01 08:30] PatricNox commented on #18
@jakubpawlowicz  That's probably a good idea as it may otherwise be treated as diverted

[2021-03-03 12:23] jakubpawlowicz commented on #18
@PatricNox added in 3a6f98ff7beea4509e0c84a4f546feab794ce337

[2021-03-17 16:53] alexejibishvili opened #65 "Specify --output parameter as a folder, when using --batch"
Hello!

Can I have --output parameter specified as a folder while --batch param is present?
I want to get minified css files one by one (as --batch param does) in some other folder. But in default manner, minified files are generated at same path as source files.
I'd like to run script with --batch param and have --output /some/folder (not file).
I know I can just copy minified files to any other

[2021-03-18 11:29] jakubpawlowicz commented on #65
Hey @alexejibishvili - I think we could do this. Question: when `--batch` matches CSS files in subdirectories then in the output folder those subdirectories should be automatically created as well, right?

[2021-03-18 13:20] alexejibishvili commented on #65
Hi @jakubpawlowicz

Glad to see your positive feedback.

You are right, in the output folder, source folders/subfolders should be created/copied accordingly.
Moreover, the behavior or folder creation can be parametrized.
For example, if we specify some new parameter like --repeat-folder-structure, folders must be created exactly how they are in source. If the parameter is not specified, then all m

[2021-03-18 13:34] jakubpawlowicz commented on #65
It is, thanks for valuable input!

I wonder what's the more useful case here: make it repeat folder structure by default or not. If people have any relative URLs in CSS then repeating it makes sense to them. Thoughts?

[2021-03-18 13:44] alexejibishvili commented on #65
@jakubpawlowicz

You are completely right about relative URLs. I didn't mention it.
Exactly because of that, I think repeating folder structure by default will be better to avoid errors, while CSS files will look for each other.

[2021-03-19 07:32] jakubpawlowicz commented on #65
Agreed.

Personally, would you use the option to output all files in a root folder specified by `--output` ?

My thinking is we should not have features people don't use, so if you won't, then I'd go implementing "repeating folder structure" under `--output` folder, and THEN if someone comes in and says "I need to output all files in root directory" then we add it.

[2021-03-25 20:35] SamuelJohnsonMedia commented on #20
This would be great, my cli options in package.json are becoming very unwieldy and hard to view/edit

[2021-03-28 16:55] jasonreiche commented on #65
I was trying to do this exact same thing this morning.  I would love to see this feature implemented.  Thank you for considering it.

[code]
I'd expect the command above to duplicate the entire folder structure (where CSS is found) of source/ to dist/
When I run the command above currently under Windows 10 PS, I get this error:

Running it without --batch-suffix results in files being created in p

[2021-03-29 19:15] #65 closed

[2021-03-29 19:16] jakubpawlowicz commented on #65
@alexejibishvili @jasonreiche this feature is already on main branch, and I want to release it in version 5.3 later this week.

Also @jasonreiche - I'm opening your sidenote as a separate issue.

[2021-03-29 19:18] jakubpawlowicz opened #66 "Batch suffix error under Windows 10"
Reported by @jasonreiche in #65

[2021-03-29 19:19] jakubpawlowicz commented on #61
Sorry it's not been addressed yet - I want to include the fix in 5.3 later this week so stay tuned.

[2021-04-08 19:08] jakubpawlowicz commented on #61
The version on main branch:

1) doesn't show "ERROR: Source maps will not be built because you have not specified an output file." error and correctly builds source maps in batch mode
2) fixes rebasing when `--output` is a directory

Hope this helps. I'm going to release it in 5.3 tomorrow.

[2021-04-08 19:08] #61 closed

[2021-04-08 19:11] jakubpawlowicz commented on #57
@XhmikosR yup, since 5.0 `--with-rebase` is needed - see https://github.com/jakubpawlowicz/clean-css-cli#whats-new-in-version-50

I have just pushed two fixes to source maps and rebasing in main branch, maybe that's something that will make it work for you.

[2021-04-08 19:12] jakubpawlowicz commented on #57
And the separator issue is https://github.com/jakubpawlowicz/clean-css/issues/964

[2021-04-09 05:15] XhmikosR commented on #57
@jakubpawlowicz I think cli is also affected by the separator issue separately since it's using its own logic for sourcemaps apart from clean-css.

[2021-04-15 05:51] jakubpawlowicz commented on #66
I tested this on Windows 10 with Node.js 14 and empty double quotes work for me, i.e.

[code]

correctly replaces CSS files in place.

Using a pair of single quotes, e.g `--batch-suffix ''` causes cleancss to treat that pair of single quotes as a suffix resulting in files like `reset''.css`.

I'm going to add that info to Readme.

Please retest if possible and let me know if this has to be reopene

[2021-04-15 05:52] #66 closed

[2021-11-22 21:36] christiankozalla commented on #15
Hey @jakubpawlowicz

I am going to tackle this issue. I've just experimented a little bit with chokidar and it is working with a single file input.
Now I am trying to make it work for batches. Hoping to submit a PR soon!

[2021-11-23 11:37] jakubpawlowicz commented on #15
Thanks @christiankozalla - let me take a look at the PR.

[2021-11-25 14:15] ferranbonas opened #72 "RemoveQuotes not working"
Hello, last week I upgraded cleancss version from 3.1.9 to 5.3.3

Now I'm getting different behaviour after using cleancss on the same source file. The quotes inside an "url" function aren't removed.

For example this source css:
[code]
In cleancss 3.1.9 result:
`@font-face{font-family:Catamaran;font-weight:300;font-style:normal;src:local('Catamaran Light'),local('Catamaran-300'),url(/fonts/Catama

[2022-03-01 16:56] SabrinaJewson opened #75 "Read CSS file from stdin"
Would it be possible to run `cleancss` such that it reads the CSS file from the standard input instead of a named file? My CSS file is being generated dynamically it would be easier if I could avoid having to write out to a temporary file. I tried `cleancss -` but it doesn't seem to work:

[code]

[2022-03-01 17:11] jakubpawlowicz commented on #75
Hi @SabrinaJewson - is piping your CSS file to clean-css an option, e.g. `echo 'a{color:#f00}' | cleancss`? This is one of the ways clean-css is tested, e.g. https://github.com/clean-css/clean-css-cli/blob/master/test/binary-test.js#L71 - `pipedContext` is defined next to the top of the file.

[2022-03-01 17:19] #75 closed

[2022-03-01 18:03] jakubpawlowicz commented on #75
No problem, cheers!

[2022-03-04 23:46] Exotelis commented on #57
I guess the reason is the `/*# sourceMappingURL=<file> */` of the source file. If I'm not mistaken in clean-cli the first parameter of the `minify` function only accepts pure text. In clean-css-cli it is possible to use a filepath, the content will be parsed and used as the first parameter of the `minify` function. However, this means when the input file is in a different dir than the cwd the `sou

[2022-03-05 00:43] Exotelis commented on #57
And in addition, when the `maybeSourceMap` parameter was set, clean-css should completely ignore the source map annotation in the source file. But that is a clean-css issue I guess ;)

[2022-03-10 09:58] jakubpawlowicz commented on #15
Closing this a version 5.5 includes the functionality.

[2022-03-10 09:58] #15 closed

[2022-03-31 11:42] jakubpawlowicz commented on #20
Closing as 'won't fix' as clean-css-cli is going into maintenance mode. If anyone wants to bring it back up, please submit a PR.

[2022-03-31 11:42] #20 closed

[2022-03-31 11:42] jakubpawlowicz commented on #25
Closing as 'won't fix' as clean-css-cli is going into maintenance mode. If anyone wants to bring it back up, please submit a PR.

[2022-03-31 11:42] #25 closed

[2022-03-31 11:42] jakubpawlowicz commented on #44
Closing as 'won't fix' as clean-css-cli is going into maintenance mode. If anyone wants to bring it back up, please submit a PR.

[2022-03-31 11:42] #44 closed

[2022-03-31 11:43] jakubpawlowicz commented on #13
Closing as 'won't fix' as clean-css-cli is going into maintenance mode. If anyone wants to bring it back up, please submit a PR.

[2022-03-31 11:43] #13 closed

[2022-03-31 11:43] jakubpawlowicz commented on #11
Closing as 'won't fix' as clean-css-cli is going into maintenance mode.

[2022-03-31 11:43] #11 closed

[2022-03-31 11:43] jakubpawlowicz commented on #52
Closing as 'won't fix' as clean-css-cli is going into maintenance mode. If anyone wants to bring it back up, please submit a PR.

[2022-03-31 11:43] #52 closed

[2022-03-31 11:44] #57 closed

[2022-03-31 11:44] jakubpawlowicz commented on #72
Closing as 'won't fix' as clean-css-cli is going into maintenance mode. If anyone wants to bring it back up, please submit a PR.

[2022-03-31 11:44] #72 closed

[2022-03-31 11:44] jakubpawlowicz commented on #60
Closing as 'won't fix' as clean-css-cli is going into maintenance mode. If anyone wants to bring it back up, please submit a PR.

[2022-03-31 11:44] #60 closed

[2022-03-31 11:44] jakubpawlowicz commented on #35
Closing as 'won't fix' as clean-css-cli is going into maintenance mode. If anyone wants to bring it back up, please submit a PR.

[2022-03-31 11:44] #35 closed

[2022-03-31 11:44] jakubpawlowicz commented on #26
Closing as 'won't fix' as clean-css-cli is going into maintenance mode. If anyone wants to bring it back up, please submit a PR.

[2022-03-31 11:44] #26 closed

[2022-04-06 09:54] knowledgecode opened #77 "Could you support `semicolonAfterLastProperty` option for the CLI?"
I'd like to enable the formatting option `semicolonAfterLastProperty` in the CLI:
[code]
Could you support this option for the CLI?

[2022-04-07 10:12] jakubpawlowicz commented on #77
Apparently we don't and it's a bug, so it's not against #76. Will address it at some point!

[2022-04-21 22:59] ohaeusler commented on #66
I'll add something about this:

For me, this occurred even using double quotes. Using `--batch-suffix '""'` was the solution for me.

[2022-05-16 15:42] fitzgibbonjack opened #78 "Incorrect URL rebasing"
- Using command `cleancss --with-rebase src/scss/index.css -o dist/main.min.css`.
- A URL within `/src/scss/modules/_component.scss` is being re-based incorrectly.
- CSS: `url("../../assets/icons/icon-chevron.svg");`
- Rebases to: `url("../assets/icons/icon-chevron.svg");`
- Should rebase to: `url("assets/icons/icon-chevron.svg");`

[2022-05-22 14:23] bes-internal opened #79 "Multiline comment ignoring with next selectors"
For this css:
[code]

i get this:

[code]
which of course breaks the code.
Сomment should be processed correctly.

[2022-06-19 12:08] cooliean opened #80 "Not work cleancss -O0 less.css"
this is a bug

[code]
if use level -O0
level: { 1: true },
options.level[1] is always true

[code]

[2022-06-22 08:06] jakubpawlowicz commented on #80
Hey @cooliean, you are 100% right. Would you mind turning this change into a PR?

[2022-07-12 14:45] bes-internal commented on #79
https://github.com/clean-css/clean-css/issues/1218

[2022-07-12 14:45] #79 closed

[2022-08-05 06:50] phiw13 opened #82 "incorrect handling of the `@container` at-rule"
The (first) selector inside the at-rule together with the opening `{`  of the rule-block and the first property-value pair is removed. (treated as an invalid property name).

input:

[code]

output:

[code]

`.item_inner { display: flex;`  is removed, treated as an invalid peoperty name

Testedon macOS 12 with clean-css-cli 5.6.1  and reproduced  on the clean-css website.

[2022-08-05 07:55] phiw13 commented on #82
BTW - the new `@layer` at-rule suffers from the same issue.

Basic example(s) on the [MDN page](https://developer.mozilla.org/en-US/docs/Web/CSS/@layer).

[2022-09-09 07:01] Pavel89webdev opened #83 "Not work adding or deleting some parametrs"
On my windows PC, this npm script work greate:
[code]
then I runing "npm run fix-styles" all work greate.

But if I want to do the same on mac or in CI (Linux), part of coomand are skipped - in the result CSS file there are some duplicate rules.

How I should run cleancss cli in CI to delete duplicate rules?